.home {
background-color: #173d7e;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  text-align: center;
}

.logo-text {
 
  padding-bottom: 15vmin;
  
}
.item {
  border-radius: 10vmin;
   height: 40vmin;
}

.caption {
  display: block;
}

