.App {
  text-align: left;
}

.App-logo {
  height: 60vmin;
  border-radius: 30vmin;
  pointer-events: none;
  margin-top: 15vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  width: 100%;
  background-color: #3a475e;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: left;
    align-items: stretch;
}


